package main

import (
	"fmt"
	
	"github.com/aws/aws-lambda-go/events"
	"github.com/aws/aws-lambda-go/lambda"

	"{{.Config.ImportPath}}/functions/{{.Model.Ident.Singularize.ToLower}}"
)

// DeleteHandler handles the DELETE request and delete the {{.Model.Ident.Camelize}} by given id
func DeleteHandler(request events.APIGatewayProxyRequest) (events.APIGatewayProxyResponse, error) {
	// Pass the call to the model with params found in the path
	id := request.PathParameters["id"]
	fmt.Println("Path vars: ", id)
	err := {{.Model.Ident.Singularize.ToLower}}.Delete(id)
	if err != nil {
		panic(fmt.Sprintf("Failed to find {{.Model.Ident.Camelize}}, %v", err))
	}

	msg := fmt.Sprintf("Deleted {{.Model.Ident.Camelize}} with id: %s \n", id)
	return events.APIGatewayProxyResponse{Body: msg, StatusCode: 200}, nil
}

func main() {
	lambda.Start(DeleteHandler)
}