package main

import (
	"fmt"
	
	"github.com/aws/aws-lambda-go/events"
	"github.com/aws/aws-lambda-go/lambda"
	{{ if .Model.GeneratedID }}"github.com/gofrs/uuid"{{ end }}

	"{{.Config.ImportPath}}/functions/{{.Model.Ident.Singularize.ToLower}}"
)

// ReadHandler handles the GET request to retrieve a {{.Model.Ident.Camelize}} from the database returning it on success
func ReadHandler(request events.APIGatewayProxyRequest) (events.APIGatewayProxyResponse, error) {
	// Pass the call to the model with params found in the path
	{{ if .Model.CompositeKey -}}
	hashKey := request.PathParameters["{{index .Model.KeySchema "HASH"}}"]
	rangeKey := request.PathParameters["{{index .Model.KeySchema "RANGE"}}"]
	fmt.Printf("Path vars: %s, %s", hashKey, rangeKey)
	{{.Model.Ident.Camelize}}, err := {{.Model.Ident.Singularize.ToLower}}.Read(hashKey, rangeKey)
	{{ else -}}
	{{index .Model.KeySchema "HASH"}} := request.PathParameters["{{index .Model.KeySchema "HASH"}}"]
	fmt.Println("Path vars: ", {{index .Model.KeySchema "HASH"}})
	{{.Model.Ident.Camelize}}, err := {{.Model.Ident.Singularize.ToLower}}.Read({{index .Model.KeySchema "HASH"}})
	{{ end -}}
	if err != nil {
		return events.APIGatewayProxyResponse{
			Headers: map[string]string{
				"Content-Type":                "application/json",
				"Access-Control-Allow-Origin": "*",
			},
			Body:       err.Error(),
			StatusCode: 404,
		}, nil
	}

	{{ if .Model.GeneratedID -}}
	// Make sure the {{.Model.Ident.Camelize}} isn't empty
	if uuid.Must(uuid.FromString({{.Model.Ident.Camelize}}.ID)) == uuid.Nil {
		fmt.Println("Could not find {{.Model.Ident.Camelize}}")
		return events.APIGatewayProxyResponse{Body: request.Body, StatusCode: 500}, nil
	}
	{{- end }}

	// Return result
	return events.APIGatewayProxyResponse{
		Headers: map[string]string{
			"Content-Type":                "application/json",
			"Access-Control-Allow-Origin": "*",
		},
		Body:       {{.Model.Ident.Camelize}}.Marshal(),
		StatusCode: 200,
	}, nil
}

func main() {
	lambda.Start(ReadHandler)
}