
service: {{.ProjectName}}{{ range $r := .Resources }}-{{$r.Ident}}{{ end }}

provider:
  name: aws
  runtime: go1.x
  region: "{{.Region}}"
  stage: ${opt:stage, 'dev'}
  environment:
    {{ range $r := .Resources }}
      {{ $r.Ident.ToUpper }}_TABLE_NAME: {{ $r.Ident.Pluralize }}-${opt:stage, self:provider.stage}
    {{- end }}
    {{- range $k, $v := .Environments }}
      {{ $k }}: ${file(./.env):{{ $k }}}
    {{- end }}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:DescribeTable
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource: "arn:aws:dynamodb:*:*:*"

package:
 exclude:
   - ./**
 include:
   - bin/**

functions:
  {{ range $r, $func := .Functions }}{{ range $f := $func -}}
  {{ $f.Name }}:
    handler: bin{{ if $r }}/{{$r}}{{ end }}/{{$f.Handler}}
    events:
      - http:
          path: {{$f.Path}}
          method: {{$f.Method}}
  {{ end }}{{- end }}
{{ range $r := .Resources }}
resources:
  Resources:
    {{$r.Ident.Pascalize}}DynamoDbTable:
      Type: 'AWS::DynamoDB::Table'
      DeletionPolicy: Retain
      Properties:
        AttributeDefinitions:
          {{- range $k := $r.KeySchema }} {{ $a := index $r.Attributes $k }}
          - AttributeName: {{ $a.Ident.Underscore }}
            AttributeType: {{ $a.AwsType }}
          {{- end }}
        KeySchema:
          - AttributeName: {{ index $r.KeySchema "HASH"}}
            KeyType: HASH
          {{ if $r.CompositeKey -}}
          - AttributeName: {{ index $r.KeySchema "RANGE"}}
            KeyType: RANGE
          {{- end }}
        {{ if eq $r.BillingMode "provisioned" -}}  
        ProvisionedThroughput:
          ReadCapacityUnits: {{ index $r.CapacityUnits "read"}}
          WriteCapacityUnits: {{ index $r.CapacityUnits "write"}}
        {{ end -}}
        {{- if eq $r.BillingMode "ondemand" -}}
        BillingMode: PAY_PER_REQUEST
        {{ end -}}
        TableName: '{{$r.Ident.Pluralize}}-${opt:stage, self:provider.stage}'
{{- end }}