package main

import (
	"fmt"
	
	"github.com/aws/aws-lambda-go/events"
	"github.com/aws/aws-lambda-go/lambda"

	"{{.Config.ImportPath}}/functions/{{.Model.Ident.Singularize.ToLower}}"
)

// CreateHandler handles the POST request and writes a {{.Model.Ident.Camelize}} to the database returning the item on success
func CreateHandler(request events.APIGatewayProxyRequest) (events.APIGatewayProxyResponse, error) {
	// Log body and pass to the model
	fmt.Println("Received body: ", request.Body)
	{{.Model.Ident.Camelize}}, err := {{.Model.Ident.Singularize.ToLower}}.Unmarshal(request.Body)
	if err != nil {
		fmt.Println("Got error unmarshaling request")
		fmt.Println(err.Error())
		return events.APIGatewayProxyResponse{Body: "Error", StatusCode: 500}, nil
	}

	err = {{.Model.Ident.Camelize}}.Put()
	if err != nil {
		fmt.Println("Got error calling Put method")
		fmt.Println(err.Error())
		return events.APIGatewayProxyResponse{Body: "Error", StatusCode: 500}, nil
	}	

	// Log and return result
	fmt.Println("Wrote item:  ", {{.Model.Ident.Camelize}})
	return events.APIGatewayProxyResponse{
		Headers: map[string]string{
			"Content-Type":                "application/json",
			"Access-Control-Allow-Origin": "*",
		},
		Body:       {{.Model.Ident.Camelize}}.Marshal(),
		StatusCode: 200,
	}, nil
}

func main() {
	lambda.Start(CreateHandler)
}