package {{.Model.Ident.Singularize.ToLower}}

import (
	"encoding/json"
	"fmt"
    "os"
	"strconv"

    "github.com/aws/aws-sdk-go/aws"
	"github.com/aws/aws-sdk-go/aws/session"
	"github.com/aws/aws-sdk-go/service/dynamodb"
	"github.com/aws/aws-sdk-go/service/dynamodb/dynamodbattribute"

    {{ range $i := .Model.Imports -}}
    "{{$i}}"
    {{ end -}}
)

{{.Model.String}}

func connectDB() (*dynamodb.DynamoDB, string) {
	var sess *session.Session
	tableName = os.Getenv("{{.Model.Ident.ToUpper}}_TABLE_NAME")

	if len(tableName) > 0 {
		sess = session.Must(session.NewSession())
	} else {
		sess = session.Must(session.NewSession(&aws.Config{
			Endpoint: aws.String("http://dynamodb:8000"),
			Region:   aws.String("{{.Config.Region}}"),
		}))
		tableName = "{{.Config.ProjectName}}-{{.Model.Ident.Pluralize.ToLower}}-debug"
	}

	return dynamodb.New(sess), tableName
}

// Put extracts the {{.Model.Type}} from JSON and writes it to DynamoDB
func Put(body string) ({{.Model.Type}}, error) {
	svc, tableName := connectDB()

	// Marshall the requrest body
	var {{.Model.Ident.Camelize}} {{.Model.Type}}
	err := json.Unmarshal([]byte(body), &{{.Model.Ident.Camelize}})
	if err != nil {
		fmt.Println("Got error unmarshalling request body: ", err.Error())
		return {{.Model.Ident.Camelize}}, err 
	}

	{{ if .Model.GeneratedID -}}
	// Generate new UUID to store {{.Model.Type}} in case {{.Model.Ident.Camelize}} doesn't have one
	givenID, err := uuid.FromString({{.Model.Ident.Camelize}}.ID)
	if err != nil || givenID == uuid.Nil {
        id, _ := uuid.NewV4()
        {{.Model.Ident.Camelize}}.ID = id.String()
    }
	{{- end }}

	// Marshall the Item into a Map DynamoDB can deal with
	av, err := dynamodbattribute.MarshalMap({{.Model.Ident.Camelize}})
	if err != nil {
		fmt.Println("Got error marshalling map:", err.Error())
		return {{.Model.Ident.Camelize}}, err
	}

	// Create Item in table and return
	input := &dynamodb.PutItemInput{
		Item:      av,
		TableName: aws.String(tableName),
	}
	_, err = svc.PutItem(input)
	return {{.Model.Ident.Camelize}}, err
}

// Read gets the {{.Model.Type}} from DynamoDB
{{ if .Model.CompositeKey -}}
func Read(hashKey, rangeKey string) ({{.Model.Type}}, error) {
{{ else -}}
func Read(id string) ({{.Model.Type}}, error) {
{{ end -}}
    svc, tableName := connectDB()
	{{.Model.Ident.Camelize}} := {{.Model.Type}}{}

	// Perform the query
	fmt.Println("Trying to read from table: ", tableName)
	result, err := svc.GetItem(&dynamodb.GetItemInput{
		TableName: aws.String(tableName),
		Key: map[string]*dynamodb.AttributeValue{
			"{{ index .Model.KeySchema "HASH" }}": {
				S: aws.String({{if .Model.CompositeKey}}hashKey{{else}}id{{end}}),
			},
			{{ if .Model.CompositeKey -}}
			"{{ index .Model.KeySchema "RANGE" }}": {
				S: aws.String(rangeKey),
			},
			{{ end -}}
		},
	})
	if err != nil {
		fmt.Println(err.Error())
		return {{.Model.Ident.Camelize}}, err
	}

	// Unmarshall the result in to an Item
	err = dynamodbattribute.UnmarshalMap(result.Item, &{{.Model.Ident.Camelize}})
	if err != nil {
		fmt.Println(err.Error())
		return {{.Model.Ident.Camelize}}, err
	}

	return {{.Model.Ident.Camelize}}, nil
}

// Delete erases the {{.Model.Type}} from DynamoDB
{{ if .Model.CompositeKey -}}
func Delete(hashKey, rangeKey string) error {
{{ else -}}
func Delete(id string) error {
{{ end -}}
    svc, tableName := connectDB()

	// Perform the delete
	input := &dynamodb.DeleteItemInput{
		Key: map[string]*dynamodb.AttributeValue{
			"{{ index .Model.KeySchema "HASH" }}": {
				S: aws.String({{if .Model.CompositeKey}}hashKey{{else}}id{{end}}),
			},
			{{ if .Model.CompositeKey -}}
			"{{ index .Model.KeySchema "RANGE" }}": {
				S: aws.String(rangeKey),
			},
			{{ end -}}
		},
		TableName: aws.String(tableName),
	}

	_, err := svc.DeleteItem(input)
	if err != nil {
		fmt.Println(err.Error())
		return err
	}
	return nil
}

// List returns the {{.Model.Ident.Pluralize.Capitalize}} from DynamoDB
func List() ([]{{.Model.Type}}, error){
    svc, tableName := connectDB()

    params := &dynamodb.ScanInput{
        TableName: aws.String(tableName),
    }
    result, err := svc.Scan(params)
    if err != nil {
        fmt.Println(err.Error())
        return nil, err
    } 

   var {{.Model.Ident.Pluralize}} []{{.Model.Type}}
   dynamodbattribute.UnmarshalListOfMaps(result.Items, &{{.Model.Ident.Pluralize}}) 
   if err != nil {
       fmt.Println(err.Error())
       return nil, err
   }

   return {{.Model.Ident.Pluralize}}, nil 
}