package main

import (
	"encoding/json"
	"fmt"
	
	"github.com/aws/aws-lambda-go/events"
	"github.com/aws/aws-lambda-go/lambda"
	"github.com/gofrs/uuid"

	"{{.Config.ImportPath}}/functions/{{.Model.Ident.Singularize.ToLower}}"
)

// ReadHandler handles the GET request to retrieve a {{.Model.Ident.Camelize}} from the database returning it on success
func ReadHandler(request events.APIGatewayProxyRequest) (events.APIGatewayProxyResponse, error) {
	// Pass the call to the model with params found in the path
	fmt.Println("Path vars: ", request.PathParameters["id"])
	{{.Model.Ident.Camelize}}, err := {{.Model.Ident.Singularize.ToLower}}.Read(request.PathParameters["id"])
	if err != nil {
		panic(fmt.Sprintf("Failed to find {{.Model.Ident.Camelize}}, %v", err))
	}

	// Make sure the {{.Model.Ident.Camelize}} isn't empty
	if {{.Model.Ident.Camelize}}.ID == uuid.Nil {
		fmt.Println("Could not find {{.Model.Ident.Camelize}}")
		return events.APIGatewayProxyResponse{Body: request.Body, StatusCode: 500}, nil
	}

	// Log and return result
	jsonItem, _ := json.MarshalIndent({{.Model.Ident.Camelize}}, "", "  ")
	stringItem := string(jsonItem)
	fmt.Println("Found item: ", stringItem)
	return events.APIGatewayProxyResponse{Body: stringItem, StatusCode: 200}, nil
}

func main() {
	lambda.Start(ReadHandler)
}