Transform: 'AWS::Serverless-2016-10-31'
Resources:
  {{ range $r := .Resources }}{{ range $f := $r.Functions -}}
  {{$f.Handler}}{{$r.Ident.Pascalize}}Function:
    Type: 'AWS::Serverless::Function'
    Properties:
      Runtime: go1.x
      Handler: {{$f.Handler}}
      CodeUri: ./debug/{{$r.Ident.Camelize}}
      Events:
        {{$f.Handler}}{{$r.Ident.Pascalize}}Api:
            Type: Api
            Properties:
                Path: /{{$f.Path}}
                Method: {{$f.Method}}
  {{ end }}
  {{- end }}